<p>Hi {{ user.firstName }},</p>

<p>Your password has been reset as requested.</p>

<p><a href="{{ user.getUrl("passwordReset", {"token": user.passwordResetToken}, true) }}">Click to reset password</a></p>